<html>
    <head>
        <title>CS Bridging CourseWork</title>
    </head>
    <body>
        <div>
            <h1><a href="/">CS Bridging CourseWork</a></h1>
        </div>

        <div>
            <p>published: 16.06.2020, 12:14</p>
            <h2><a href="">My first post</a></h2>
	    <p>This is a test post.</p>
        </div>

        <div>
            <p>published: 16.06.2020, 12:14</p>
            <h2><a href="">My second post</a></h2>
	    <p>This is the second post.</p>
        </div>
    </body>
</html>
